body{
	margin: 0;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #FFFFFF;
}
.wrapper{
	width: 1020px;
	margin: 0px auto;
}

h2{
	margin:0;
	font-size: 30px;
	font-weight: 300;
	line-height: 24px;
}

h3{
	margin: 0 0 10px 0;
	font-size: 18px;
	line-height: 35px;
	font-weight: 300;
}

p{
	margin:0;
	line-height: 20px;
	text-align: justify;
}

.wrapper-inner{
	position: relative;
	top:15%;
	bottom: 0;
	left:0;
	right: 0;
	margin: auto;
	width: 820px;
}

/*Header*/

.main-nav{
	width:100%;
	background-color: #323232;
	color: white;
	font-size: 10px;
	position: relative;
	margin-bottom: 26px;
}

.nav-list{
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
	background-image: url(../img/logo_1.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.nav-item{
	display: inline-block;
	text-transform: uppercase;
	margin: 0 5px;
}

.nav-item-link, .dot{
	line-height: 62px;
	color: white;
	text-decoration: none;
}

.nav-item-link:hover{
	color: #2EB398;
}

.space-logo{
	margin-right: 140px;
}

.logo{
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.bottom-logo img{
	width: 90px;
	height: 26px;
}

.menu{
    	visibility: hidden;
    	height: 0;
    }

/*portfolio*/

.portfolio, .portfolio-2{
	width: 100%;
	height: 700px;
	background-color: #FFFFFF;
	position: relative;
	top: 50px;
	margin: 0px
}

.portfolio-2{
	display: none;
}

.first-line{
	position: relative;
    top: 70px;
}

.buttons{
	position: absolute;
	bottom:10px;
	left: 30px;
}

.button-slide{
	display: inline;
	outline: none;
	border:none;
	padding:0;
	width: 5px;
	height: 5px;
	background-color: #DDD2C5;
}

.button-slide:hover{
	background-color: #8B8784;
}

/* About*/
.about{
	position: relative;
	background-color: #2EB398;
	height: 340px;
}

.about-inner{
	color: white;
}

.about-inner h2{
	color: #20816D;
}

.about-inner .hex{
	margin-right: 20px;
}

.social {
	position: absolute;
	font-size: 0px;
	right: 0;
	bottom: -50%;
}


/*GET IN TOUCH*/
.get-in-touch{
	height: 564px;
	position: relative;
	background-color: #323232;
}

.get-inner{
	color: #A9A9A9;
}

.form{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.form input, .form button,
.form form textarea{
	display: block;
	border:none;
	width: 580px;
	height: 37px;
	background-color: #454545;
	margin-bottom: 15px;
	color: #A9A9A9;
	font-size: 12px;
	padding-left:13px;
	font-family: Tahoma, Geneva, sans-serif;
	outline: none;
}

.form button,
.get-inner h1{
	color:#FFFFFF;
}

.form button{
	width: 90px;
	margin-left: 505px;
	background-color: #2EB398;
	padding-right: 13px;
}

.form form textarea{
	height: 135px;
	padding-top: 13px;
	resize: none;
}

.widget{
	margin-bottom: 60px;
}

.widget p span{
 	font-weight: 700;
 	color: #FFFFFF;
}

.awesom-contact{
	width: 15px;
	margin-right: 10px;
	float: left;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
}

.awesom-contact i{
 	color: #2EB398;
}

.fa.fa-phone{
	transform: scaleX(-1);
}

.mail{
		text-decoration: none;
		color: #A9A9A9;
	}

	.mail:hover{
		color: #2EB398;
	}

/*Footer*/

.footer{
	width: 100%;
	background-color: #222222;
	color: #3C3C3C;
}

.copyright p{
	margin: 0 0 0 38px;
	line-height: 42px;
}

/* Slider CSS3 */
.wrap-slider{
	margin: 0 auto;
	position: relative;
	width: 100%;
	height: 600px;
}

.slider {	
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}

.slides {
	margin-top: 20px;
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	right:100%;	
	transition: right ease-in-out .8s, opacity ease-in-out .5s;
}

.wrap-slider > input {
	display: none;
}

.wrap-slider .controls {	
	position: absolute;
}

.wrap-slider label{
	background-color: #DDD2C5;
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 5px 0 0;
	position: relative;
	width: 8px;	
	transition: background ease-in-out .5s;
}

.wrap-slider label:hover{
	background-color: #8B8784;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
	opacity: 1;
	z-index: 1;
	right: 0;	
}


/*Style for iphone5,6*/
@media all and (max-width: 780px) {
	.wrapper {
		width: 750px;
	}

	h2{	
	font-size: 40px;
	line-height: 35px;
	}

	h3{
	font-size: 22px;
	line-height: 40px;
	
	}

	p{
	font-size: 16px;
	line-height: 25px;
	text-align: justify;
	}

	.wrapper-inner{
		width: 700px;
		top: 25px;
	}

	/* Navigation */
	.main-nav{
		height: 62px;
	}

	.nav-item{
		visibility: hidden;
	}

	.menu{
		display: inline-block;
		visibility: visible;
		position: absolute;
		line-height: 63px;
	}

	.menu button{
		width: 50px;
		height: 50px;
		margin: 5px;
		border: none;
	    padding: 0;
	    outline: none;
	    background-color: #323232;
	    text-align: center;
	}

	.fa.fa-bars{
		color: #FFFFFF;
		line-height: 50px;
		font-size: 35px;
	}

	.fa.fa-bars:hover {
		color: #2EB398;
		opacity: .6;
		transition: 0.5s;
	}

	.fa.fa-bars:active{
		color: #FFFFFF;
	}

	/*Portfolio*/
	.portfolio{
		display: none;
	}

	.portfolio-2{
		display: block;
		height: 600px;
		top:0;
	}

	.hex.hex-gap-first {
		margin-left: 185px;
	}

	.hex.hex-gap-second {
		margin-left: 80px;
	}

	.first-line{
		top:30px;
	}

	.style-slide{
		position: absolute;
		height: 600px;
		width: 25px;
		border: none;
		outline: none;
		margin: 0 10px;
		font-size: 30px;
		color: #BCBCBC;
		background-color: transparent;
	}

	.slide-right{
		right: 0px;
	}

	.style-slide:hover{
		opacity: .6;
		transition: 0.5s;
	}

	.style-slide:active{
	color: #585858;
	}

	/* About*/
		
	.social {
		position: absolute;
		font-size: 10px;
		right: 25px;
		bottom: -30px;
		transform: scale(1.3, 1.3);
	}

	.about-inner .hex{
		margin: 70px 20px;
	}

	/*Get in touch*/

	.get-in-touch{
		height: 550px;
	}

	.get-inner.wrapper-inner{
		width: 600px;
	}

	.widget-none{
		display: none;
	}

	.form{
		float:none;
	}

	.widget{
		margin-bottom: 0px;
	}

	.awesom-contact{
		width: 15px;
		margin-right: 10px;
		float: left;
		line-height: 25px;
		text-align: center;
		font-size: 15px;
	}

	.form input, .form button,
	.form form textarea{
		font-size: 16px;
	}

	.form form textarea{
		height: 100px;
	}

	.form button:hover, .mail:hover{
		opacity: .6;
		transition: 0.5s;
	}	

}/* /Media */
