@import url(../libs/font-awesome/css/font-awesome.css);

* {
	box-sizing: border-box;
}

body, html{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	background-color: #FFF;
	min-width: 960px;
	height: 100%;
}

.b-wrapper{
	width: 960px;
	margin: 0px auto;
	position: relative;
}

.clr-fix:before,
.clr-fix:after {
	content:"";
	display:block;
}
.clr-fix:after {
	clear:both;
}

.b-page_h2{
	margin:0;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 5px;
}

.b-page_h3{
	margin: 0;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 15px;
}

.b-page_p{
	margin: 0;
	font-size: 12px;
	line-height: 20px;
	text-align: justify;ы
}

.b-page{	
	min-height: 100%;
	margin-bottom: -50px;
}

.b-page:after {
	content: "";
	display: block;
	height: 50px;
}

.bg-color_green{
	background-color: #2EB398;
}

.bg-color_grey{
	background-color: #323232
}

.bg-color_black{
	background-color: #222222;
}

/*Navigation*/

	.b-nav{
		margin-bottom: 26px;
	}	

	.b-nav_wrap_left{
		width: 50%;
		float: left;
		text-align: right;
		padding: 13px 70px 13px 0;
	}

	.b-nav_wrap_right{
		overflow: hidden;
		padding: 25px 0 25px 70px;
	}

	.b-nav_line:after,
	.b-nav_line:before{
		content: "";
		width: 100%;
		height: 1px;
		background-color: #E4E9EB;
		position: relative;
		display: inline-block;
		box-sizing: border-box;
		vertical-align: middle;
	}

	.b-nav_line:before{
		top: 55px;
	}

	.b-nav_line:after{
		top: 28px;
		left: 550px;
	}

	.b-list{
		list-style-type: none;
		font-size: 10px;
	}

	.b-list_item{
		display: inline-block;
	}

	.b-list_item + .b-list_item{
		margin-left: 9px;
	}

	.b-list_item + .b-list_item:before{
		content: ".";
		position: relative;
		padding-right: 11px;
		vertical-align: 4px;		
	}

	.b-list_text{
		text-transform: uppercase;
		color: #FFF;
	}

	.b-list_link{
		text-decoration: none;
	}

	.b-list_link:hover{
		color: #2EB398;
	}	

	.b-nav_arrow-position{
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
	}

	.b-nav_menu{
	    display: none;
	}

	.b-triangle{
		height: 0;
		width: 0;
		border: 26px solid #323232;
		border-bottom-width: 0;
		border-right-color: transparent;
		border-left-color: transparent;
		border-right-width: 45px;
		border-left-width: 45px;
	}

/*Portfolio*/

	.b-prtf-small{display: none;}

	/*Portfolio Slider CSS3 */

	.b-portfolio .b-wrapper{
		padding-top: 20px
	}

	.b-portfolio_slider {
		height: 560px;
		margin-bottom: 40px;
	}

	.b-portfolio_slides {
		position: absolute;
		padding-top: 20px;
		padding-bottom: 0;
		opacity: 0;
		z-index: 0;
		zoom: 0;
		transition: zoom ease-in-out .8s, opacity ease-in-out .5s;		
	}

	.b-portfolio_input {
		display: none;
	}

	.b-portfolio_controls{
		font-size: 0px;
		padding-bottom: 10px;
	}

	.b-portfolio_controls:after{
		content: "";
		height: 1px;
		background-color: #E4E9EB;
		display: block;
		box-sizing: border-box;
		margin-top: 10px;
	}

	.b-portfolio_lable{
		background-color: #DDD2C5;
		cursor: pointer;
		display: inline-block;
		height: 8px;
		width: 8px;
		transition: background ease-in-out .5s;
	}

	.b-portfolio_lable + .b-portfolio_lable{
		margin-left: 5px;
	}

	.b-hex_margin-0{
		margin:35px 10px;
	}

	.b-hex_margin-1 {
		margin-left: 90px;
	}

	.b-hex_margin-2 {
		margin-left: -10px;
	}

	.b-hex_margin-3 {
		margin-right: -10px;
	}

	.b-portfolio_lable_active:hover{
		background-color: #8B8784;
	}

	.b-portfolio_input_active-1:checked ~ .b-portfolio_slider > .b-portfolio_slide-1,
	.b-portfolio_input_active-2:checked ~ .b-portfolio_slider > .b-portfolio_slide-2,
	.b-portfolio_input_active-3:checked ~ .b-portfolio_slider > .b-portfolio_slide-3,
	.b-portfolio_input_active-4:checked ~ .b-portfolio_slider > .b-portfolio_slide-4,
	.b-portfolio_input_active-5:checked ~ .b-portfolio_slider > .b-portfolio_slide-5 {
		opacity: 1;
		z-index: 1;
		zoom: 1;		
	}

	.b-portfolio_input_active-1:checked ~ .b-portfolio_controls > .b-portfolio_lable:nth-child(1),
	.b-portfolio_input_active-2:checked ~ .b-portfolio_controls > .b-portfolio_lable:nth-child(2),
	.b-portfolio_input_active-3:checked ~ .b-portfolio_controls > .b-portfolio_lable:nth-child(3),
	.b-portfolio_input_active-4:checked ~ .b-portfolio_controls > .b-portfolio_lable:nth-child(4),
	.b-portfolio_input_active-5:checked ~ .b-portfolio_controls > .b-portfolio_lable:nth-child(5){
		background-color: #8B8784;
	}
	
	.b-hex_margin-1:before, 
	.b-hex_margin-1:after{
		content: "";
		width: 1px;
		height: 100%;
		background-color: #E4E9EB;
		position: absolute;
	}

	.b-hex_margin-1:before{
		left: -20px;
	}

	.b-hex_margin-1:after{
		right: -620px;
	}

/*About*/

	.b-about .b-wrapper{
		padding-top: 10px;
		padding-bottom: 10px;
		padding: 55px 90px;
	}	

	.b-about .b-wrapper:before,
	.b-about .b-wrapper:after{
		content: "";
		position: absolute;
		width: 1px;
		background-color: #219D84;
		top: 10px;
		bottom: 10px;
	}

	.b-about .b-wrapper:before{
		left: 70px;
	}

	.b-about .b-wrapper:after{
		right: 70px;
	}

	.b-about_content{
		overflow: hidden;
	}	

	.b-about_hex_margin{
		margin-top: 60px;
		margin-right: 20px;
	}

	.b-about_h3_color{
		color: #20816D;
	}

	.b-about_social {
		font-size: 0px;
		text-align: right;
		padding-top: 40px;
	}

	.b-about_link:hover{
		opacity: .6;
		transition: 0.5s;		
	}

/*Get in touch*/

	.b-get .b-wrapper{
		padding: 55px 100px;
	}

	.b-get_line:before,
	.b-get_line:after{
		content: "";
		width: 100%;
		height: 1px;
		background-color: #2B2B2B;
		position: absolute;
		display: block;
		box-sizing: border-box;
		margin-top: 10px;
		left: 0;
		margin: 0;
	}

	.b-get_line:before{
		top: 10px;
	}

	.b-get_line:after{
		bottom: 10px;
	}	

	.b-get_form{
		width:75%;
		float: left;
		text-align: right;
	}

	.b-get_aside{
		overflow: hidden;
		padding-left: 20px;
	}

	.b-get_input{
		border: none;
		width: 100%;
		padding: 12px 15px;
		background-color: #454545;
		outline: none;
	}

	.b-get_input + .b-get_input{
		margin-top: 15px;
	}

	.b-get_input:focus,
	.b-get_textarea:focus{
		background-color: #E4E9EB;
		color: #323232;
		opacity: .7;
		transition: 0.5s;
	}

	.b-get_btn_align{
		margin-top: 15px;
		text-align: right;
	}

	.b-get_button{		
		border: none;
		background-color: #2EB398;		
		text-transform: uppercase;
		outline: none;
		padding: 13px 30px;
	}

	.b-get_button:hover{
		opacity: .6;
		transition: 0.5s;
	}

	.b-get_textarea{
		height: 135px;
		padding-top: 13px;
		resize: none;
	}

	.b-get_p_margin{
		margin-bottom: 15px;
	}

	.b-get_contact_icon{
		margin-right: 10px;
		list-style-type: none;
		float: left;
	}

	.b-get_contact_data{
		overflow: hidden;
		list-style-type: none;
	}

	.b-get_span_strong{
	 	font-weight: 700;
	 	color: #FFFFFF;
	}

	.b-get_i_color{
	 	color: #2EB398;
	}

	.b-get_i_scalex{
		transform: scaleX(-1);
	}

	.b-get_mail{
		text-decoration: none;
		color: #FFF;
	}

	.b-get_mail:hover{
		color: #2EB398;
	}

	.b-get_p_align{
		text-align: center;
	}	

/*Footer*/

	.b-footer .b-wrapper{
		color: #3C3C3C;
		padding: 15px 10px;
	}

/* Logo */

	.b-logo{
		position: absolute;
		width: 54px;
		height: 50px;
		overflow: hidden;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
	}

	.b-logo_large:before{
		border: 50px solid #FFF;
	}

	.b-logo_large:after{
		border: 50px solid #323232;
		transform: translateY(-3px);
	}

	.b-logo_small:before{
		transform: translate(0, 0px);
		border: 10px solid #FFF;
	}

	.b-logo_small:after{
		transform: translate(0, -1.5px);
		border: 10px solid #323232;
	}

	.b-logo_large:before,
	.b-logo_large:after,
	.b-logo_small:before,
	.b-logo_small:after{
		content: "";
		position: absolute;
		height: 0;
		width: 0;
		border-bottom-width: 0;
		border-right-color: transparent;
		border-left-color: transparent;
		border-right-width: 27px;
		border-left-width: 27px;
	}

	.b-logo:hover .b-logo_large:before,
	.b-logo:hover .b-logo_small:before{
		border-top-color: #2EB398;
	}

/*Style for iphone5,6*/
@media all and (max-width: 780px) {
	body, html{
		font-size: 18px;
		min-width: 750px;
	}

	.b-wrapper {
		width: 750px;
	}

	.b-page_h2{
		font-size: 40px;
	}

	.b-page_h3{
		font-size: 24px;
	}

	.b-page_p{
		font-size: 18px;
		line-height: 26px;
	}

	.b-page{
		margin-bottom: -56px;
	}

	.b-page:after {
		content: "";
		display: block;
		height: 56px;
	}

	/*Navigation */
		.b-nav_menu{
			top:0;
			left: 0;
			padding: 11px;
		}

		.b-nav_wrap_left{
			padding-top: 8px;
			padding-bottom: 8px;
		}

		.b-list_item {
			visibility: hidden;
		}

		.b-nav_line:before{
			top: 53px;
		}

		.b-nav_line:after{
			top: 25px;
			left: 445px;
		}

		.b-nav_menu{
			display: inline-block;
			visibility: visible;
			position: absolute;
		}

		.b-nav_button{
			border: none;
		    padding: 0;
		    outline: none;
		    background-color: #323232;
		    text-align: center;
		}

		.b-nav_bars{
			font-size: 40px;
		}

		.b-nav_button:hover > .b-nav_bars{
			color: #2EB398;
			opacity: .6;
			transition: 0.5s;
		}

		.b-nav_button:active > .b-nav_bars{
			color: #FFFFFF;
		}

		.b-hex_margin-0{
			margin:33px 10px;
		}

		.b-nav_line:before{
			top: 57px;
		}

	/*Portfolio-small*/
		.b-portfolio{
			display: none;
		}

		.b-prtf-small{
			background-color: #FFF;
			display: block;	
		}

		.b-prtf-small .b-wrapper{
			padding: 20px 10px;
		}

		.b-portfolio_slider {
			position: relative;
			height: auto;
			padding: 25px 0px;
			margin: 0;
		}

		.b-hex_margin-1 {
			margin-left: 173px;
		}

		.b-hex_margin-2 {
			margin-left: 73px;
		}

		.b-hex_margin-1:after{
			right:-220px;
		}

		.b-prtf-small_btn{
			position: absolute;
			top: 0px;
			padding: 290px 20px;
			border: none;
			outline: none;
			font-size: 30px;
			color: #BCBCBC;
			background-color: transparent;
		}

		.b-prtf-small_btn_position_right{
			right: 0px;
		}

		.b-prtf-small_btn_position_left{
			left: 0px;
		}

		.b-prtf-small_btn:hover{
			opacity: .6;
			transition: 0.5s;
		}

		.b-prtf-small_btn:active{
			color: #585858;
		}

	/*About*/
		.b-about .b-wrapper{
			padding: 25px 50px;
		}

		.b-about .b-wrapper:before{
			left: 35px;
		}

		.b-about .b-wrapper:after{
			right: 35px;
		}

		.b-about_social{			
			padding-top: 20px;
			padding-bottom: 10px;
			font-size: 10px;			
			transform: scale(1.5, 1.5) translateX(-75px);
		}

	/*Get in touch*/

		.b-get .b-wrapper{
			padding: 25px 50px;
		}

		.b-get_form{
			float: none;
			width: 100%;
		}

		.b-get_button{
			margin-bottom: 15px;
		}

		.b-get_aside{
			padding-left: 0;
		}			
}